body {
    background-color: #f4f4f4;
  }
  #chat-messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
  }
  #chat-messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
  }
  #chat-input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  #send-message, #send-location {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    cursor: pointer;
    margin-top: 10px;
  }